<a href="https://colab.research.google.com/github/Krishna-Dhawangale/Machine-Learning-Practical/blob/main/ML_6(CS23032).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Krishna Dhawangale (CS23032)**
Aim: To design and implement an Artificial Neural Network for classification problem and evaluate its learning perfromance.

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path="/content/drive/MyDrive/ML_Data/churn - churn.csv"
df=pd.read_csv(path)
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.isnull().any().any()

np.False_

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [ ]:

X = df.iloc[:,3:-1]
y = df['Exited']

In [ ]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
X = pd.get_dummies(X, dtype=int)

In [ ]:
X.shape

(10000, 13)

In [ ]:
X.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [ ]:
X.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,train_size=0.7,random_state=42)

In [ ]:
X_train.shape,X_test.shape

((7000, 13), (3000, 13))

In [ ]:
X_train.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
9069,619,32,4,175406.13,2,1,1,172792.43,0,0,1,1,0
2603,643,34,7,160426.07,1,0,1,188533.11,0,1,0,1,0
7738,561,33,6,0.00,2,0,0,173680.39,1,0,0,0,1
1579,618,41,8,37702.79,1,1,1,195775.48,0,1,0,0,1
5058,714,37,9,148466.93,2,0,1,151280.96,1,0,0,0,1

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train

array([[-0.34459497, -0.65674999, -0.34217046, ...,  1.73073215,
         1.09823226, -1.09823226],
       [-0.09518109, -0.46637979,  0.69816249, ..., -0.57779016,
         1.09823226, -1.09823226],
       [-0.94734518, -0.56156489,  0.35138484, ..., -0.57779016,
        -0.91055421,  0.91055421],
       ...,
       [ 0.86090545, -0.08563939, -1.38250341, ..., -0.57779016,
         1.09823226, -1.09823226],
       [ 0.15423279,  0.39028611,  1.04494014, ..., -0.57779016,
        -0.91055421,  0.91055421],
       [ 0.46600014,  1.1517669 , -1.38250341, ..., -0.57779016,
        -0.91055421,  0.91055421]])

In [ ]:
import tensorflow as tf

In [ ]:
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=9,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [ ]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [ ]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
219/219  2s 2ms/step - accuracy: 0.5740 - loss: 0.6757
Epoch 2/100
219/219  1s 2ms/step - accuracy: 0.7940 - loss: 0.4965
Epoch 3/100
219/219  1s 3ms/step - accuracy: 0.8005 - loss: 0.4540
Epoch 4/100
219/219  1s 3ms/step - accuracy: 0.8002 - loss: 0.4399
Epoch 5/100
219/219  1s 3ms/step - accuracy: 0.8050 - loss: 0.4330
Epoch 6/100
219/219  1s 4ms/step - accuracy: 0.8325 - loss: 0.3922
Epoch 7/100
219/219  1s 3ms/step - accuracy: 0.8229 - loss: 0.4110
Epoch 8/100
219/219  1s 2ms/step - accuracy: 0.8313 - loss: 0.3955
Epoch 9/100
219/219  1s 2ms/step - accuracy: 0.8321 - loss: 0.3924
Epoch 10/100
219/219  1s 2ms/step - accuracy: 0.8392 - loss: 0.3854
Epoch 11/100
219/219  1s 2ms/step - accuracy: 0.8464 - loss: 0.3772
Epoch 12/100
219/219  1s 2ms/step - accuracy: 0.8439 - loss: 0.3705
Epoch 13/100
219/219  1s 2ms/step - accuracy: 0.8505 - loss: 0.3638
Epoch 14/100
219/219  0s 2ms/step - accuracy: 0.8534 - loss: 0.3560
Epoch 15/100
219/219  1s 2ms/step - accuracy: 0.8532 - loss: 0.3567
Epoch 16/100
219/219  1s 2ms/step - accuracy: 0.8572 - loss: 0.3536
Epoch 17/100
219/219  1s 2ms/step - accuracy: 0.8541 - loss: 0.3608
Epoch 18/100
219/219  1s 2ms/step - accuracy: 0.8609 - loss: 0.3460
Epoch 19/100
219/219  1s 2ms/step - accuracy: 0.8602 - loss: 0.3445
Epoch 20/100
219/219  1s 2ms/step - accuracy: 0.8609 - loss: 0.3412
Epoch 21/100
219/219  1s 2ms/step - accuracy: 0.8586 - loss: 0.3470
Epoch 22/100
219/219  1s 2ms/step - accuracy: 0.8529 - loss: 0.3526
Epoch 23/100
219/219  1s 2ms/step - accuracy: 0.8578 - loss: 0.3483
Epoch 24/100
219/219  1s 2ms/step - accuracy: 0.8555 - loss: 0.3478
Epoch 25/100
219/219  1s 2ms/step - accuracy: 0.8644 - loss: 0.3303
Epoch 26/100
219/219  1s 3ms/step - accuracy: 0.8604 - loss: 0.3396
Epoch 27/100
219/219  2s 9ms/step - accuracy: 0.8642 - loss: 0.3373
Epoch 28/100
219/219  3s 10ms/step - accuracy: 0.8573 - loss: 0.3463
Epoch 29/100
219/219  1s 2ms/step - accuracy: 0.8592 - loss: 0.3444
Epoch 30/100
219/219  0s 2ms/step - accuracy: 0.8581 - loss: 0.3454
Epoch 31/100
219/219  0s 2ms/step - accuracy: 0.8563 - loss: 0.3479
Epoch 32/100
219/219  1s 2ms/step - accuracy: 0.8575 - loss: 0.3496
Epoch 33/100
219/219  0s 2ms/step - accuracy: 0.8584 - loss: 0.3495
Epoch 34/100
219/219  1s 2ms/step - accuracy: 0.8655 - loss: 0.3349
Epoch 35/100
219/219  1s 2ms/step - accuracy: 0.8584 - loss: 0.3345
Epoch 36/100
219/219  1s 2ms/step - accuracy: 0.8540 - loss: 0.3494
Epoch 37/100
219/219  1s 3ms/step - accuracy: 0.8595 - loss: 0.3384
Epoch 38/100
219/219  1s 4ms/step - accuracy: 0.8632 - loss: 0.3329
Epoch 39/100
219/219  1s 2ms/step - accuracy: 0.8578 - loss: 0.3452
Epoch 40/100
219/219  1s 2ms/step - accuracy: 0.8573 - loss: 0.3452
Epoch 41/100
219/219  1s 2ms/step - accuracy: 0.8549 - loss: 0.3497
Epoch 42/100
219/219  1s 2ms/step - accuracy: 0.8629 - loss: 0.3317
Epoch 43/100
219/219  1s 2ms/step - accuracy: 0.8590 - loss: 0.3356
Epoch 44/100
219/219  1s 2ms/step - accuracy: 0.8522 - loss: 0.3462
Epoch 45/100
219/219  0s 2ms/step - accuracy: 0.8624 - loss: 0.3453
Epoch 46/100
219/219  1s 3ms/step - accuracy: 0.8608 - loss: 0.3432
Epoch 47/100
219/219  1s 3ms/step - accuracy: 0.8510 - loss: 0.3549
Epoch 48/100
219/219  1s 3ms/step - accuracy: 0.8576 - loss: 0.3374
Epoch 49/100
219/219  1s 3ms/step - accuracy: 0.8622 - loss: 0.3398
Epoch 50/100
219/219  1s 3ms/step - accuracy: 0.8572 - loss: 0.3465
Epoch 51/100
219/219  1s 2ms/step - accuracy: 0.8586 - loss: 0.3361
Epoch 52/100
219/219  1s 2ms/step - accuracy: 0.8598 - loss: 0.3327
Epoch 53/100
219/219  1s 2ms/step - accuracy: 0.8580 - loss: 0.3471
Epoch 54/100
219/219  1s 2ms/step - accuracy: 0.8660 - loss: 0.3371
Epoch 55/100
219/219  1s 2ms/step - accuracy: 0.8629 - loss: 0.3345
Epoch 56/100
219/219  0s 2ms/step - accuracy: 0.8592 - loss: 0.3349
Epoch 57/100
219/219  1s 2ms/step - accuracy: 0.8600 - loss: 0.3397
Epoch 58/100
219/219  1s 2ms/step - accuracy: 0.8645 - loss: 0.3399
Epoch 59/100
219/219  1s 3ms/step - accuracy: 0.8536 - loss: 0.3490
Epoch 60/100
219/219  1s 3ms/step - accuracy: 0.8610 - loss: 0.3405
Epoch 61/100
219/219  1s 2ms/step - accuracy: 0.8600 - loss: 0.3309
Epoch 62/100
219/219  1s 2ms/step - accuracy: 0.8616 - loss: 0.3336
Epoch 63/100
219/219  0s 2ms/step - accuracy: 0.8590 - loss: 0.3357
Epoch 64/100
219/219  0s 2ms/step - accuracy: 0.8634 - loss: 0.3370
Epoch 65/100
219/219  1s 2ms/step - accuracy: 0.8574 - loss: 0.3377
Epoch 66/100
219/219  0s 2ms/step - accuracy: 0.8624 - loss: 0.3299
Epoch 67/100
219/219  1s 2ms/step - accuracy: 0.8569 - loss: 0.3413
Epoch 68/100
219/219  1s 2ms/step - accuracy: 0.8574 - loss: 0.3360
Epoch 69/100
219/219  1s 3ms/step - accuracy: 0.8632 - loss: 0.3362
Epoch 70/100
219/219  1s 3ms/step - accuracy: 0.8575 - loss: 0.3428
Epoch 71/100
219/219  1s 3ms/step - accuracy: 0.8611 - loss: 0.3392
Epoch 72/100
219/219  1s 3ms/step - accuracy: 0.8658 - loss: 0.3351
Epoch 73/100
219/219  1s 2ms/step - accuracy: 0.8597 - loss: 0.3365
Epoch 74/100
219/219  1s 2ms/step - accuracy: 0.8607 - loss: 0.3434
Epoch 75/100
219/219  1s 3ms/step - accuracy: 0.8592 - loss: 0.3412
Epoch 76/100
219/219  1s 2ms/step - accuracy: 0.8579 - loss: 0.3471
Epoch 77/100
219/219  1s 2ms/step - accuracy: 0.8616 - loss: 0.3379
Epoch 78/100
219/219  1s 2ms/step - accuracy: 0.8622 - loss: 0.3381
Epoch 79/100
219/219  1s 2ms/step - accuracy: 0.8618 - loss: 0.3325
Epoch 80/100
219/219  0s 2ms/step - accuracy: 0.8617 - loss: 0.3381
Epoch 81/100
219/219  1s 2ms/step - accuracy: 0.8607 - loss: 0.3371
Epoch 82/100
219/219  1s 2ms/step - accuracy: 0.8638 - loss: 0.3307
Epoch 83/100
219/219  1s 2ms/step - accuracy: 0.8589 - loss: 0.3393
Epoch 84/100
219/219  1s 2ms/step - accuracy: 0.8593 - loss: 0.3280
Epoch 85/100
219/219  1s 3ms/step - accuracy: 0.8601 - loss: 0.3384
Epoch 86/100
219/219  1s 2ms/step - accuracy: 0.8636 - loss: 0.3362
Epoch 87/100
219/219  0s 2ms/step - accuracy: 0.8562 - loss: 0.3404
Epoch 88/100
219/219  1s 2ms/step - accuracy: 0.8647 - loss: 0.3315
Epoch 89/100
219/219  1s 2ms/step - accuracy: 0.8654 - loss: 0.3312
Epoch 90/100
219/219  1s 2ms/step - accuracy: 0.8691 - loss: 0.3235
Epoch 91/100
219/219  1s 3ms/step - accuracy: 0.8605 - loss: 0.3298
Epoch 92/100
219/219  1s 3ms/step - accuracy: 0.8562 - loss: 0.3471
Epoch 93/100
219/219  1s 4ms/step - accuracy: 0.8650 - loss: 0.3322
Epoch 94/100
219/219  1s 3ms/step - accuracy: 0.8584 - loss: 0.3323
Epoch 95/100
219/219  1s 2ms/step - accuracy: 0.8617 - loss: 0.3333
Epoch 96/100
219/219  1s 2ms/step - accuracy: 0.8643 - loss: 0.3329
Epoch 97/100
219/219  1s 2ms/step - accuracy: 0.8657 - loss: 0.3243
Epoch 98/100
219/219  0s 2ms/step - accuracy: 0.8639 - loss: 0.3381
Epoch 99/100
219/219  1s 2ms/step - accuracy: 0.8678 - loss: 0.3333
Epoch 100/100
219/219  1s 2ms/step - accuracy: 0.8658 - loss: 0.3319

In [ ]:
y_pred=ann.predict(X_test)
y_pred=(y_pred > 0.5)
y_pred

94/94  0s 2ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
cm=confusion_matrix(y_pred,y_test)
print(confusion_matrix(y_pred,y_test))

[[2331  306]
 [  85  278]]

In [ ]:
print('Accuracy Score')
print(accuracy_score(y_pred,y_test))

Accuracy Score
0.8696666666666667

In [ ]:
print('Classification Report')
print(classification_report(y_pred,y_test))

Classification Report
              precision    recall  f1-score   support

       False       0.96      0.88      0.92      2637
        True       0.48      0.77      0.59       363

    accuracy                           0.87      3000
   macro avg       0.72      0.82      0.75      3000
weighted avg       0.91      0.87      0.88      3000